.button {
  background-color: green;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: 0;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.disable{
  background-color: rgb(106, 175, 106);
  cursor: not-allowed;
}