.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 10px grey;
  width: 30vw;
  height: 30vh;
  min-width: fit-content;
}

@media (max-width: 768px) {
  .container {
    width: 50vw;
    height: 30vh;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .container {
    width: 70vw;
  }
}
